
h3,p{margin: 0}
h3{
  font-size: 16px;
}
p{
  font-size: 14px;
}
.section { text-align: center; font: 16px "Microsoft Yahei"; overflow: hidden;}
.halfwidth{
  display: inline-block;
	width: 48%;
  margin: 0 auto;
  /*padding: 30% 0;*/
	position: relative;
  vertical-align: middle;
}
.h_box{
  width: 100%;
  height: 100%;
  display: -webkit-flex !important;
  display: -webkit-box !important;
  -webkit-box-orient: horizontal !important;
}
.flex1{
  height: 100%;
  margin: 0 5%;
  -webkit-box-flex: 1;
  text-align: center;
  width: 1px;
  position: relative;
}
.home_logo{
  width: 80%;
  height: 33.33%;
  position: relative;
  /*top: 20%;*/
}
.home_logo img{
  width: 25%;
  position: absolute;
  top: 0%;
  left: 0;
  animation: fall 1.3s cubic-bezier(0.9, 0.17, 0.58, 1.43);
  animation-fill-mode: both;
  transform:rotate(-20deg);
}
.home_logo img:nth-child(2){
  left:25%;
  animation-delay: 0.3s;
}
.home_logo img:nth-child(3){
  left:50%;
  animation-delay: 0.8s;
}
.home_logo img:nth-child(4){
  left: 75%;
  animation-delay: 1.5s;
}
@keyframes fall{
  0%{top: -50%; transform:rotate(-20deg);}
  70%{top:50%; transform:rotate(0deg);}
  75%{top:43%;}
  100%{top:50%;transform:rotate(0deg);}
}
.code{
  width: 50%;
}
.swiper{
  width: 424px;
  height: 874px;
  background: url(../img/phone.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20%;
}
/*.lunbo img{
  width: 100% !important;
  height: 100%;
}*/
.logo{
  position: relative;
  width: 30%;  /*0.6166666666666667    // 370*/ 
  height: 61.48648648648646%;
  margin: 0 auto;
}
.logo img{
  position: absolute;
}
.logo > img:nth-child(1),.logo .first{
  width: 100%;
  padding-bottom: 100%;
  top: 0;
  left:0;
  /*animation: move_top 5s ease;*/
}
/*@keyframes move_top{
  0%{top:-100px;left:-100px;}
  50%{top:0;left: -80px;}
  80%{top: 0;left: 0;-webkit-transform: scaleZ(5) rotateX(45deg);}
  100%{}
}*/
.logo > img:nth-child(2){
  width: 61%;
  bottom: 0;
  left:0;
}
.logo > img:nth-child(3){
  width: 37%;
  bottom: 0;
  right: 0;
}
.logo > img:nth-child(4){
  width: 21.6%;
  bottom: 23.6%;
  right: 0;
}
/*first*/
.first.active .logo > img:nth-child(1){
  animation: fadeInDown 3s ease-in-out;
  -webkit-animation: fadeInDown 3s ease-in-out;
}
.first.active .logo > img:nth-child(2){
  animation: rollIn 3s ease-in-out;
 -webkit-animation: rollIn 3s ease-in-out;
}
.first.active .logo > img:nth-child(3){
  animation: bounceInRight 2s ease-in-out;
  -webkit-animation: bounceInRight 2s ease-in-out;
}
.first.active .logo > img:nth-child(4){
  animation: bounceIn 3s ease-in-out;
  -webkit-animation: bounceIn 4s ease-in-out;
}
.first.active .logo > img.rotate{
  animation:  myrotate 3s ease infinite;
  -webkit-animation:  myrotate 3s ease infinite;
}
@-webkit-keyframes myrotate {
  0%{-webkit-transform: rotateY(0deg);}
  50%{-webkit-transform: rotateY(180deg);}
  100%{-webkit-transform: rotateY(0deg);}
}
@-webkit-keyframes bounceInRight{0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
@-webkit-keyframes rollIn{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)}100%{opacity:1;-webkit-transform:none;transform:none}}
@-webkit-keyframes rotateIn{0%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);transform:rotate3d(0,0,1,-200deg);opacity:0}100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:none;transform:none;opacity:1}}
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
/*second*/

.second .logo{
  z-index: 1;
}
.second .logo .first img{
  height: 60%;
  position: absolute;
  top: 0;
}
.second .logo .first img:nth-child(1){
  left:0;
  animation: fire 3s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation: fire 3s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.second .logo .first img:nth-child(2){
  left:12.5%;
  animation: fire 3s 0.4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
   -webkit-animation: fire 3s 0.4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.second .logo .first img:nth-child(3){
  left:24%;
  animation: fire 3s 0.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation: fire 3s 0.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.second .logo .first img:nth-child(4){
  left:35%;
  animation: fire 3s 1.2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation: fire 3s 1.2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.second .logo .first img:nth-child(5){
  left:48%;
  animation: fire 3s 1.6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation: fire 3s 1.6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.second .logo .first img:nth-child(6){
  left:60%;
  animation: fire 3s 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation: fire 3s 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.second .logo .first img:nth-child(7){
  left:72.5%;
  animation: fire 3s 2.4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation: fire 3s 2.4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.second .logo .first img:nth-child(8){
  left:84.5%;
  animation: fire 3s 2.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation: fire 3s 2.8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@-webkit-keyframes fire{
  0%{top:1%;}
  100%{top:-4%;}
}
/*#surface{
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 0;
}*/
.second.active .logo > img:nth-child(1){
  animation: fireUp 3s ease-in-out;
}
.second.active .logo > img:nth-child(2){
  animation: fireLeft 3s ease-in-out;
  animation-fill-mode: both;
  -webkit-animation-fill-mode:both;
}
.second.active .logo > img:nth-child(3){
  animation: fireBottom 3s ease-in-out;
   animation-fill-mode: both;
  -webkit-animation-fill-mode:both;
}
.second.active .logo > img:nth-child(4){
  animation: fireRight 3s ease-in-out;
   animation-fill-mode: both;
  -webkit-animation-fill-mode:both;
}
@-webkit-keyframes fireLeft {
  0%{width:61%;height: 0%;bottom:38%;left: 0%;}
  100%{width:65%;height: 50%;bottom:-12%;left:-3%;}
}
@-webkit-keyframes fireBottom {
  0%{width: 37%;height: 23%;right: 0%;}
  100%{width: 50%;height: 23%;right: -13%;}
}
@-webkit-keyframes fireRight {
  0%{-webkit-transform: rotate(0deg) scale(1);}
  100%{-webkit-transform: rotate(-45deg) scale(1.3);bottom:30%;right: 5%;}
}
/*third*/
.third .logo{
  /*bottom: 85px;*/
  animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-webkit-animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@-webkit-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@-moz-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@-ms-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

/*phone*/
@media (max-width: 600px) {
    .halfwidth{
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    /*padding: 30% 0;*/
  }
  .halfwidth:first-child{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,25%);
  }
  .halfwidth:last-child{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%);
  }
}
